name: .NET Desktop CI

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]

jobs:
  build:
    # Use a Windows runner as desktop apps are typically Windows-specific
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Build and test
        run: |
          dotnet build
          dotnet test --logger "junit;LogFilePath=results/tests.xml"

      - name: Create test summary
        uses: test-summary/action@dist
        with:
          paths: results/**/*.xml
        if: always()